<mat-card>
    <mat-card-title>{{transactionType}} Transactions</mat-card-title>
    <mat-card-content>
        <div class="filter-controls" *ngIf="transactionType != 'Savings'">
            <mat-form-field appearance="fill">
                <mat-label>Select Month</mat-label>
                <mat-select [(ngModel)]="selectedMonth" (selectionChange)="filterTransactions()">
                    <mat-option [value]="null">All</mat-option>
                    <mat-option *ngFor="let month of months" [value]="month.value">
                        {{ month.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Select Year</mat-label>
                <mat-select [(ngModel)]="selectedYear" (selectionChange)="filterTransactions()">
                    <mat-option [value]="null">All</mat-option>
                    <mat-option *ngFor="let year of years" [value]="year">
                        {{ year }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <table mat-table [dataSource]="filteredTransactions">
            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef> Amount </th>
                <td mat-cell *matCellDef="let transaction">{{userSettings.currency}}{{ transaction.amount.toFixed(2) }}
                </td>
            </ng-container>

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let transaction">{{ transaction.transactionDate | date }}</td>
            </ng-container>

            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef> Category </th>
                <td mat-cell *matCellDef="let transaction">{{ transaction.category }}</td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Description </th>
                <td mat-cell *matCellDef="let transaction">{{ transaction.description }}</td>
            </ng-container>

            <ng-container matColumnDef="actions" *ngIf="transactionType != 'Savings'">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let transaction; let i = index">
                    <button mat-button color="warn" (click)="deleteTransaction(i)">Delete</button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div class="total-income" mt-5>
            <p>= {{userSettings.currency}}{{ totalIncome.toFixed(2) }}</p>
        </div>
    </mat-card-content>
</mat-card>