<div class="goals-container">
    <mat-card>
        <mat-card-title>Set Your Financial Goals</mat-card-title>
        <mat-card-content>
            <form #financialGoalForm="ngForm">
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field class="w-100">
                            <mat-label>Goal Name</mat-label>
                            <input matInput [(ngModel)]="newGoal.goalName" name="goalName">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="w-100">
                            <mat-label>Target Amount</mat-label>
                            <input matInput type="number" [(ngModel)]="newGoal.targetAmount" name="targetAmount">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="w-100">
                            <mat-label>Current Amount</mat-label>
                            <input matInput type="number" [(ngModel)]="newGoal.currentAmount" name="currentAmount">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="w-100">
                            <mat-label>Deadline</mat-label>
                            <input matInput [(ngModel)]="newGoal.deadline" [matDatepicker]="picker" name="deadline">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <button mat-raised-button color="primary" (click)="addGoal()">Add Goal</button>
            </form>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title>Your Financial Goals</mat-card-title>
        <mat-card-content>
            <table mat-table [dataSource]="goals">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Goal Name </th>
                    <td mat-cell *matCellDef="let goal">{{ goal.goalName }}</td>
                </ng-container>

                <ng-container matColumnDef="targetAmount">
                    <th mat-header-cell *matHeaderCellDef> Target Amount </th>
                    <td mat-cell *matCellDef="let goal">{{ goal.targetAmount | currency }}</td>
                </ng-container>

                <ng-container matColumnDef="currentAmount">
                    <th mat-header-cell *matHeaderCellDef> Current Amount </th>
                    <td mat-cell *matCellDef="let goal; let i = index">
                        <!-- <input matInput type="number" [(ngModel)]="goal.currentAmount"
                            (ngModelChange)="updateCurrentAmount(i, goal.currentAmount)"> -->

                        <div class="d-flex align-items-center">
                            <input matInput type="number" [(ngModel)]="goal.currentAmount"
                                (ngModelChange)="startEdit(i)" class="form-control"
                                style="width: 100px; margin-right: 8px;">

                            <!-- Show Save and Cancel buttons inline next to the input -->
                            <button *ngIf="isEditing[i]" mat-button color="primary" (click)="saveEdit(i)"
                                class="mr-2">Save</button>
                            <button *ngIf="isEditing[i]" mat-button color="warn" (click)="cancelEdit(i)">Cancel</button>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="deadline">
                    <th mat-header-cell *matHeaderCellDef> Deadline </th>
                    <td mat-cell *matCellDef="let goal">{{ goal.deadline | date }}</td>
                </ng-container>

                <ng-container matColumnDef="progress">
                    <th mat-header-cell *matHeaderCellDef> Progress </th>
                    <td mat-cell *matCellDef="let goal">{{ calculateProgress(goal) }}</td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let goal; let i = index">
                        <button mat-button color="warn" (click)="deleteGoal(i)">Delete</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-card-content>
    </mat-card>
</div>