<div class="income-container">
    <mat-card>
        <mat-card-title>Your Expenses</mat-card-title>
        <mat-card-content class="text-center">
            <h2>${{ totalExpenses.toFixed(2) }}</h2>
            <div class="expenses-comparison">
                <p>Income vs Expenses:</p>
                Today:
                <span style="color: green;">
                    ${{ dailyIncomeExpenses.income.toFixed(2) }}
                </span>
                -
                <span style="color: red;">
                    ${{ dailyIncomeExpenses.expenses.toFixed(2) }}
                </span>
                <span style="margin-left: 20px;">
                    This Month:
                    <span style="color: green;">
                        ${{ monthlyIncomeExpenses.income.toFixed(2) }}
                    </span>
                    -
                    <span style="color: red;">
                        ${{ monthlyIncomeExpenses.expenses.toFixed(2) }}
                    </span>
                </span>
                <span style="margin-left: 20px;">
                    This Year:
                    <span style="color: green;">
                        ${{ yearlyIncomeExpenses.income.toFixed(2) }}
                    </span>
                    -
                    <span style="color: red;">
                        ${{ yearlyIncomeExpenses.expenses.toFixed(2) }}
                    </span>
                </span>
            </div>
            <div *ngIf="dailyIncomeExpenses.income < dailyIncomeExpenses.expenses" style="color: red;">
                <small>Note: Your expenses are greater than your income today.</small>
            </div>
            <div *ngIf="monthlyIncomeExpenses.income < monthlyIncomeExpenses.expenses" style="color: red;">
                <small>Note: Your expenses are greater than your income this month.</small>
            </div>
            <div *ngIf="yearlyIncomeExpenses.income < yearlyIncomeExpenses.expenses" style="color: red;">
                <small>Note: Your expenses are greater than your income this year.</small>
            </div>
        </mat-card-content>
    </mat-card>

    <app-transaction-form [transactionType]="transactionType" [categories]="categories"></app-transaction-form>
    <app-transaction-list [transactions]="filteredTransactions"
        [transactionType]="transactionType"></app-transaction-list>
</div>