mat-card {
    padding: 20px;
}

mat-form-field {
    margin: 5px; // Adjust the value as needed
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}