.income-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
}

mat-card {
    padding: 20px;
}

mat-form-field {
    margin: 5px; // Adjust the value as needed
}

.selected {
    text-decoration: underline;
}

.filter-controls {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
    /* Optional: Add space below the filter controls */
}