<div class="income-container">
    <mat-card>
        <mat-card-title>Your Income</mat-card-title>
        <mat-card-content class="text-center">
            <h2>{{userSettings.currency}}{{ totalIncome.toFixed(2) }}</h2>

            <p>Select a filter period:</p>
            <div class="btn-group" role="group" aria-label="Filter options">
                <button mat-button color="primary" [ngClass]="{ 'selected': selectedFilter === 'all' }"
                    (click)="filterIncome('all')">All</button>
                <button mat-button color="primary" [ngClass]="{ 'selected': selectedFilter === 'day' }"
                    (click)="filterIncome('day')">By Day</button>
                <button mat-button color="primary" [ngClass]="{ 'selected': selectedFilter === 'week' }"
                    (click)="filterIncome('week')">By Week</button>
                <button mat-button color="primary" [ngClass]="{ 'selected': selectedFilter === 'month' }"
                    (click)="filterIncome('month')">By Month</button>
                <button mat-button color="primary" [ngClass]="{ 'selected': selectedFilter === 'year' }"
                    (click)="filterIncome('year')">By Year</button>
            </div>

            <div class="income-comparison">
                <span>
                    Last Month Gain/Loss Comparison:
                    <b [ngStyle]="{'color': calculateMonthlyComparison() >= 0 ? 'green' : 'red'}">
                        <mat-icon *ngIf="calculateMonthlyComparison() >= 0">arrow_upward</mat-icon>
                        <mat-icon *ngIf="calculateMonthlyComparison() < 0">arrow_downward</mat-icon>
                        {{ calculateMonthlyComparison() }}%
                    </b>
                </span>
                <span style="margin-left: 20px;">
                    Last Yearly Gain/Loss Comparison:
                    <b [ngStyle]="{'color': calculateYearlyComparison() >= 0 ? 'green' : 'red'}">
                        <mat-icon *ngIf="calculateYearlyComparison() >= 0">arrow_upward</mat-icon>
                        <mat-icon *ngIf="calculateYearlyComparison() < 0">arrow_downward</mat-icon>
                        {{ calculateYearlyComparison() }}%
                    </b>
                </span>
            </div>
        </mat-card-content>
    </mat-card>

    <app-transaction-form [transactionType]="transactionType" [categories]="categories"></app-transaction-form>
    <app-transaction-list [transactions]="filteredTransactions"
        [transactionType]="transactionType"></app-transaction-list>
</div>