<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Income vs Expenses</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <app-transaction-monthly></app-transaction-monthly>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="container mt-4">
            <div class="row">
                <!-- First Column: Budget vs Spending -->
                <div class="col-md-6 d-flex flex-column">
                    <mat-card class="mb-4 h-100">
                        <mat-card-header>
                            <mat-card-title>Budget vs Spending</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <app-budget-vs-spending></app-budget-vs-spending>
                        </mat-card-content>
                    </mat-card>
                </div>

                <!-- Second Column: Two Smaller Charts -->
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <mat-card class="mb-4" style="height: 94%;">
                                <mat-card-header>
                                    <mat-card-title>Saving Progress</mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                    <app-saving-progress></app-saving-progress>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-md-12">
                            <mat-card class="mb-4" style="height: 94%;">
                                <mat-card-header>
                                    <mat-card-title>Top Spending Categories</mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                    <app-top-spending-categories></app-top-spending-categories>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <!-- <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 mt-4">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>Monthly Income</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <app-monthly-income-summary></app-monthly-income-summary>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>

        <div class="col-md-6  mt-4">
            <div class="row">
                <div class="col-md-12">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>Monthly Expenses</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <app-monthly-expenses-summary></app-monthly-expenses-summary>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div> -->
    </div>
</div>