<mat-card>
    <mat-card-title>Settings</mat-card-title>
    <mat-card-content>
        <form>
            <mat-form-field appearance="fill" class="mt-4">
                <mat-label>Currency</mat-label>
                <mat-select [(ngModel)]="userSettings.currency" name="currency">
                    <mat-option value="$">Dollar ($)</mat-option>
                    <mat-option value="€">Euro (€)</mat-option>
                    <mat-option value="£">Pound (£)</mat-option>
                    <mat-option value="¥">Yen (¥)</mat-option>
                    <mat-option value="₹">Rupee (₹)</mat-option>
                    <mat-option value="₩">Won (₩)</mat-option>
                    <mat-option value="₱">Peso (₱)</mat-option>
                    <mat-option value="A$">Australian Dollar (A$)</mat-option>
                    <mat-option value="₺">Turkish Lira (₺)</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-checkbox [(ngModel)]="userSettings.notificationPreferences" name="notifications">
                Enable Notifications
            </mat-checkbox>

            <div class="mt-4">
                <button mat-raised-button color="primary" (click)="saveSettings()">Save</button>
                <!-- <button mat-button color="warn" (click)="resetSettings()">Reset</button> -->
            </div>
        </form>
    </mat-card-content>
</mat-card>